name: MLflow CI Training

on:
  push:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Check Python version
        run: |
          python --version
          pip --version

      - name: Install dependencies
        run: |
          pip install -r MLProject/conda.yaml || true
          pip install mlflow==2.19.0 pandas scikit-learn numpy scipy pyarrow

      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      - name: Get latest MLflow run_id
        run: |
          ls -la mlruns || true
